:root {
    --magnify-scale: 1;
}

body {
    margin: 0;
    text-align: center;
    background: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

header, footer {
    z-index: 2;
    position: fixed;
    background: black;
    color: white;
}

.i {
    font-style: italic;
}

header {
    top: 0;
    width: 100%;
}

button {
    background: #0098ff;
    border: none;
    color: white;
    padding: 1em;
}

#info {
    font-weight: bold;
}

#uip {
    margin-top: 0;
}

#content {
    padding-top: 5em;
    padding-bottom: 3em;
    font-size: 1.2em;
}

#map {
    width: 90vw;
    max-width: 40em;
    background-image: url("blankmap.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

#mapbig {
    position: absolute;
    z-index: 1;
    top: 5em;
    height: calc(var(--magnify-scale) * 100vh - 8em);
    background-color: white;
    background-image: url("blankmap.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}

#mapbig:target {
    display: block;
}

#mapcontainer {
    position: relative;
}

#magnify {
    height: 1em;
    position: absolute;
    display: grid;
    bottom: 0.5em;
    left: 50%;
    transform: translateX(-50%)
}

#magnifyoptions {
    position: fixed;
    top: 4em;
    right: 0.5em;
    z-index: 3;
    border: 0.1em solid #0098ff;
    color: white;
    background: black;
    font-size: 1.5em;
    display: none;
}

#magnifyoptions span {
    padding: 0 0.6em 0 0.6em;
}

footer {
    padding: 0.5em;
    font-size: 0.5em;
    bottom: 0;
    width: 100%;
    font-family: 'ProFontForPowerline', 'ProFont for Powerline', profontiix, profont, profontx, ProFontWindows, Courier, monospace;
}

.pa {
    color: white;
    text-decoration: none;
}

.hf {
    opacity: 0.5;
    padding-left: 1em;
    padding-right: 1em;
    display: inline-block;
}

#logo {
    display: inline-block;
    height: 2em;
    margin-right: 1em;
    position: relative;
    top: 0.2em;
}

#title {
    display: inline-block;
}